{%extends 'Menu_Usuario.html'%}
{% load crispy_forms_tags  %} 

{% block head %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Proveedores</title>
   <link rel="stylesheet" href="/static/Modulo_compras/css/style.css">
   <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleTablesInformations.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
   <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">  
   <link rel="stylesheet" href="sweetalert2.min.css">
   <script src="/static/bootstrap/js/bootstrap.js"></script>

 
</head>
{% endblock head %}


{% block Contenido %}



 
        <div class="modal-body">
         <form action="{% url 'actprov'%}" class="form-p" method="POST" >
           {%csrf_token%}
            {{ proveedores|crispy}}
            <input type="text" name="id_proveedor" style="display: none;"  value="{{id}}">
            <div class="modal-footer">
              <button onclick="cancelUpdate()" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
            </div>
          </form>    
        </div>

{% endblock Contenido %}


{%block scripts%}
<script>
  function cancelUpdate() {
      window.location.href("../listarprov/")
  }
</script>
<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>
<script src="/static/Modulo_compras/js/js.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{%endblock scripts%}
</html>

