{%extends 'Menu_Usuario.html'%}

{% block head %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Productos</title>
   <link rel="stylesheet" href="/static/Modulo_compras/css/style.css">
   <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleTablesInformations.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
   <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">  
   <link rel="stylesheet" href="sweetalert2.min.css">
   <script src="/static/bootstrap/js/bootstrap.js"></script>

 
</head>
{% endblock head %}

{% block Contenido %}



<div class="container">
  <div class="Table Add">
    <button type="button" class="Add img" onclick="agregarprod('{%url 'crearprod' %}')">
      <i class="fas fa-user-plus"></i>
  </button>
  </div>

  <div class="Table Header-table">
    <div class="Table search">
        <label>
        <input type="text" placeholder="Search here">
        <i class="fas fa-search"></i>
    </label>
    </div>
  </div>     



<div class="Table Content-table">
  <div class="Information">
      <div class="cardHeader">
          <i class="fas fa-angle-left"></i>
          <h2>Productos</h2>
          <i class="fas fa-angle-right"></i>
      </div>
      <table >
        <thead >
          <tr>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>

  {%if proveedores%}

  {%for prov in proveedores%}
          <tr>
            <td>Jose</td>
            <td>Barniz</td>
            <td>$8600</td>
            <td>color rojo</td>
            <td>5</td>
          <td><img type="button" id="e"  data-bs-toggle="modal" data-bs-target="#editar_prod" src="/static/Modulo_compras/img/Editar.png" title="Editar proveedor"></td>
          </tr>

    {%endfor%} 

    {% else %}

      <h1>No hay registros</h1>

    {% endif %}
        
         
          </tbody>
        </table>
      </div>
  </div>
</div>



{% endblock Contenido %}

{% block modal %}

<div class="modal fade" id="agregar_prod" role="dialog" >
    
</div>

{% endblock modal%}

{%block scripts%}

<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>
<script src="/static/Modulo_compras/js/js.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{%endblock scripts%}
</html>





