<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Proveedor</th>
        <th scope="col">Encargado</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jose</td>
        <td>Barniz</td>
        <td>5</td>
        <td>$26000</td>
        <td>color esmeralda</td>
        <td>===fecha===</td>
      <td><img type="button" id="b" data-bs-toggle="modal" data-bs-target="#borrar_compra"src="/static/Modulo_compras/img/borrar.png" title="Borrar proveeedor"></td>
    </tr>
    </tbody>
 
<tbody>
  <tr>
    <td>Jose</td>
    <td>Barniz</td>
    <td>5</td>
    <td>$26000</td>
    <td>color esmeralda</td>
    <td>===fecha===</td>
  <td><img type="button" id="b" data-bs-toggle="modal" data-bs-target="#borrar_compra"src="/static/Modulo_compras/img/borrar.png" title="Borrar proveeedor"></td>
</tr>
</tbody>

<tbody>
  <tr>
    <td>Jose</td>
    <td>Barniz</td>
    <td>5</td>
    <td>$26000</td>
    <td>color esmeralda</td>
    <td>===fecha===</td>
  <td><img type="button" id="b" data-bs-toggle="modal" data-bs-target="#borrar_compra"src="/static/Modulo_compras/img/borrar.png" title="Borrar proveeedor"></td>
</tr>
</tbody>
  </table>