<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Usuario</title>

    {% endblock head %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleMenuUsuario.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<!--                            Zona de menú Horizontal header tamaño maximo 50px                  -->
<header>
</header>


<body>
    <div class="grid">
        <!--          Creación del menú lateral        -->
        <div class="nav">
            <ul>
                <!--           Zona de links de navegación     -->
                <li class="list activar">
                    <a href="#perfil">
                        <!--    Iconos sacados de fontawesome  -->
                        <i class="far fa-user-circle"></i> Perfil
                    </a>
                </li>
                <li class="list">
                    <a href="#cal">
                        <i class="fas fa-calendar-day"></i> Calendario
                    </a>
                </li>
                <li class="list">
                    <a href="#con">
                        <i class="fas fa-user-shield"></i> Configuración
                    </a>
                </li>
                <li class="list">
                    <a href="#Proveedores">
                        <i class="fas fa-user-friends"></i> Proveedores
                    </a>
                </li>
                <li class="list">
                    <a href="#cer">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </a>
                </li>
                {% block li %} {% endblock li %}
            </ul>
        </div>
        <div class="content">
            <div class="menu">
                <ul>
                    <li><a href="#">Contactenos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Notificaciónes</a></li>
                    <li><a href="#"><i></i>Catalogo</a></li>
                </ul>
            </div>
            <img class="Logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria.png" width="179" height="50">

            <div id="div">
                {% block Contenido %}
                <div>
                    <h1>Hola</h1>
                </div>
                <div>Hola 2</div>
                {% endblock Contenido %}
            </div>
        </div>
        <div class="toggle">
            <i class="abrir fas fa-bars"></i>
            <i class="cerrar fas fa-times"></i>
        </div>
    </div>
</body>
{%block scripts%} {%endblock scripts%}
<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>


</html>