<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nada</title>}
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleMenuUsuario.css">
</head>

<body>
    <div class="grid">
        <div class="content">
            <div class="menu">
                <ul>
                    <li><a href="#">Contactenos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Notificaciónes</a></li>
                    <li><a href="#">Catalogo</a></li>
                </ul>
            </div>
            <img class="Logo" src="/static/Proyecto_Ekiria/Img/Logo Ekiria.png" width="179" height="50">

            <div id="div">
                {% block Contenido %}
                <h1>Inicio</h1>
                <p style="font-size: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus odio consequuntur dolorum id praesentium voluptatibus, nam cumque sunt dolore inventore quaerat obcaecati omnis quia veritatis ipsam harum odit doloribus!Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Modi repellendus odio consequuntur dolorum id praesentium voluptatibus, nam cumque sunt dolore inventore quaerat obcaecati omnis quia veritatis ipsam harum odit doloribus!Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Modi repellendus odio consequuntur dolorum id praesentium voluptatibus, nam cumque sunt dolore inventore quaerat obcaecati omnis quia veritatis ipsam harum odit doloribus!Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Modi repellendus odio consequuntur dolorum id praesentium voluptatibus, nam cumque sunt dolore inventore quaerat obcaecati omnis quia veritatis ipsam harum odit doloribus!Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Modi repellendus odio consequuntur dolorum id praesentium voluptatibus, nam cumque sunt dolore inventore quaerat obcaecati omnis quia veritatis ipsam harum odit doloribus!</p>

                {% endblock Contenido %}
            </div>
        </div>
        <div class="toggle">
            <i class="abrir fas fa-bars"></i>
            <i class="cerrar fas fa-times"></i>
        </div>
    </div>
</body>
<script src="/static/Proyecto_Ekiria/js/jsMenuL.js"></script>

</html>