{% extends 'Menu_Usuario.html' %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar</title>
    </head>
{% endblock head %}
{% block Contenido %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="imagen"><img src="/media/perfil/{{form.img_usuario.value}}"></label>
            {{form.img_usuario}}
        <p>{{form.telefono}}</p>
        <p>{{form.celular}}</p>
        <p>{{form.email}}</p>
        <p>{{form.municipio}}</p>
        <p>{{form.direccion}}</p>
        <p>{{form.cod_postal}}</p>
        <button type="submit">Editar</button>
    </form>
{% endblock Contenido %}