{% extends "Menu_Usuario.html" %}
<!---->{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de usuarios</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleAdministration.css">
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleTablesInformations.css"> {% endblock head %} {% block Contenido %}
</head>
<!----------------------------------------Dashborad Usuarios---------------------------------------->

<div class="Admin Events">
    <div class="Information">
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">1506</div>
                    <div class="cardName">Usuarios</div>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-account-multiple"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">2019</div>
                    <div class="cardName">Servicios</div>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-basket centrado"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">1235</div>
                    <div class="cardName">Visitas Diarias</div>
                </div>
                <div class="iconA">
                    <i class="far fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">127</div>
                    <div class="cardName">Comentarios</div>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-comment"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="Table Header-table">
    <div class="Table search">
        <label>
        <input type="text" id="search" placeholder="Search here">
        <i class="fas fa-search"></i>
    </label>
    </div>
    <div class="Table Add">
        <button type="button" onclick="añadirUsuario()" class="Add img">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>
</div>

<div class="Table Content-table">
    <div class="Information">
        <div class="cardHeader">
            <i class="fas fa-angle-left"></i>
            <h2> Usuarios Registrados </h2>
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="over">
            <table id="tabla">
                <thead>
                    <tr>
                        <td>Apodo</td>
                        <td>Nombres</td>
                        <td>Apellidos</td>
                        <td>Télefono</td>
                        <td>Celular</td>
                        <td>E-mail</td>
                        <td>Tipo De Documento</td>
                        <td>Número De Documento</td>
                        <td>Dirección</td>
                        <td>Código Postal</td>
                        <td>Municipio</td>
                        <td>Rol</td>
                        <td>Último Inicio</td>
                        <td>Estado</td>
                        <td>Editar</td>
                        <td class="ver_mas">Ver más</td>
                    </tr>
                </thead>
                <tbody id="cuerpo">
                    {%if Usuario%}
                    <script type="text/javascript">
                        var contador = 0
                        var field = []
                        var search = document.getElementById("search").value;
                        var td
                        
                    </script>
                    
                    
                    {% for User in Usuario%}
                    <tr id="tr">
                        <td id="username{{User.username}}"></td>
                        <td id="name{{User.username}}"></td>
                        <td id="last_name{{User.username}}"></td>
                        <td id="telefono{{User.username}}"></td>
                        <td id="celular{{User.username}}"></td>
                        <td id="email{{User.username}}"></td>
                        <td id="TipoDoc{{User.username}}"></td>
                        <td id="NumDoc{{User.username}}"></td>
                        <td id="direccion{{User.username}}"></td>
                        <td id="cod_postal{{User.username}}"></td>
                        <td id="municipio{{User.username}}"></td>
                        <td id="rol{{User.username}}"></td>
                        <td id="last_login{{User.username}}"></td>
                        <td>{{User.estado}}</td>
                        <td>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" name="pk" value="{{User.id_usuario}}" style="display:none;">
                                <button type="submit" class="Edit">
                                    <i class="mdi mdi-account-edit"></i>
                                </button>
                            </form>
                        </td>
                            <script>
                                field[contador] = {
                                        username: "{{User.username}}",
                                        name:"{{User.nombres}}",
                                        last_name:"{{User.apellidos}}",
                                        telefono:"{{User.telefono}}",
                                        celular:"{{User.celular}}",
                                        email:"{{User.email}}",
                                        TipoDoc:"{{User.tipo_documento}}",
                                        NumDoc:"{{User.num_documento}}",
                                        direccion:"{{User.direccion}}",
                                        cod_postal:"{{User.cod_postal}}",
                                        municipio:"{{User.municipio}}",
                                        rol:"{{User.rol}}",
                                        last_login:"{{User.last_login}}",
                                    }
                                if (field[contador].name.toLowerCase().includes(search.toLowerCase)){
                                    td = document.getElementById("username{{User.username}}");td.innerHTML = field[contador].username;
                                    td = document.getElementById("name{{User.username}}");td.innerHTML = field[contador].name;
                                    td = document.getElementById("last_name{{User.username}}");td.innerHTML = field[contador].last_name;
                                    td = document.getElementById("telefono{{User.username}}");td.innerHTML = field[contador].telefono;
                                    td = document.getElementById("celular{{User.username}}");td.innerHTML = field[contador].celular;
                                    td = document.getElementById("email{{User.username}}");td.innerHTML = field[contador].email;
                                    td = document.getElementById("TipoDoc{{User.username}}");td.innerHTML = field[contador].TipoDoc;
                                    td = document.getElementById("NumDoc{{User.username}}");td.innerHTML = field[contador].NumDoc;
                                    td = document.getElementById("direccion{{User.username}}");td.innerHTML = field[contador].direccion;
                                    td = document.getElementById("cod_postal{{User.username}}");td.innerHTML = field[contador].cod_postal;
                                    td = document.getElementById("municipio{{User.username}}");td.innerHTML = field[contador].municipio;
                                    td = document.getElementById("rol{{User.username}}");td.innerHTML = field[contador].rol;
                                    td = document.getElementById("last_login{{User.username}}");td.innerHTML = field[contador].last_login;
                                }
                                contador++
                                console.log(contador)
                            </script>
                    </tr>
                    {% endfor %}
                    <script type="text/javascript">
                       field.forEach(field => {
                           console.log(field)
                       });
                    </script>
                    {%else%}
                    <tr>
                        <td>
                        No hay usuarios Registrados
                        </td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>




<!--------------------------------------Fin Dashborad Usuarios-------------------------------------->

{% endblock Contenido %} {% block modal %} {% endblock modal %} {% block scripts %}
<script src="/static/Proyecto_Ekiria/js/jsTablesInformations.js"></script>
<script src="/static/ModuloUsuarios/js/mainAdministration.js"></script>
{% endblock scripts %}