{% extends "Menu_Usuario.html" %}
<!---->{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de usuarios</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleAdministration.css">
    <link rel="stylesheet" href="/static/Proyecto_Ekiria/css/styleTablesInformations.css"> {% endblock head %} {% block Contenido %}
</head>
<!----------------------------------------Dashborad Usuarios---------------------------------------->

<div class="Admin Events">
    <div class="Information">
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers" id="NumUser"></div>
                    <div class="cardName">Usuarios</div>
                    
                    <script>
                        let CantUsuarios
                    </script>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-account-multiple"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">2019</div>
                    <div class="cardName">Servicios</div>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-basket centrado"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">1235</div>
                    <div class="cardName">Visitas Diarias</div>
                </div>
                <div class="iconA">
                    <i class="far fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <div class="Card">
                <div>
                    <div class="numbers">127</div>
                    <div class="cardName">Comentarios</div>
                </div>
                <div class="iconA">
                    <i class="mdi mdi-comment"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="Table Header-table">
    <div class="Table search">
        <label>
        <input type="text" id="search" placeholder="Search here">
        <i class="fas fa-search"></i>
    </label>
    </div>
    <div class="Table Add">
        <button type="button" onclick="añadirUsuario()" class="Add img">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>
</div>

<div class="Table Content-table">
    <div class="Information">
        <div class="cardHeader">
            <i class="fas fa-angle-left"></i>
            <h2> Usuarios Registrados </h2>
            <i class="fas fa-angle-right"></i>
        </div>
        <div class="over">
            <table id="tabla">
                <thead>
                    <tr>
                        <td>Apodo</td>
                        <td>Nombres</td>
                        <td>Apellidos</td>
                        <td>Télefono</td>
                        <td>Celular</td>
                        <td>E-mail</td>
                        <td>Tipo De Documento</td>
                        <td>Número De Documento</td>
                        <td>Dirección</td>
                        <td>Código Postal</td>
                        <td>Municipio</td>
                        <td>Rol</td>
                        <td>Último Inicio</td>
                        <td>Estado</td>
                        <td>Editar</td>
                        <td class="ver_mas">Ver más</td>
                    </tr>
                </thead>
                <tbody id="cuerpo">
                    <!-- Declaración de variables -->
                    {%if Usuario%}
                    <script type="text/javascript">
                        var contador = 0
                        var field = []
                        var td
                        const search = document.querySelector("#search");
                        search.addEventListener("keyup", function() {
                            Object()
                        })
                    </script>
                    <!-- Creacion de filas de datos con sus debidas columnas -->
                    {% for User in Usuario%}
                    <tr id="tr">
                        <td id="username{{User.username}}"></td>
                        <td id="name{{User.username}}"></td>
                        <td id="last_name{{User.username}}"></td>
                        <td id="telefono{{User.username}}"></td>
                        <td id="celular{{User.username}}"></td>
                        <td id="email{{User.username}}"></td>
                        <td id="TipoDoc{{User.username}}"></td>
                        <td id="NumDoc{{User.username}}"></td>
                        <td id="direccion{{User.username}}"></td>
                        <td id="cod_postal{{User.username}}"></td>
                        <td id="municipio{{User.username}}"></td>
                        <td id="rol{{User.username}}"></td>
                        <td id="last_login{{User.username}}"></td>
                        <td id="estado{{User.username}}">
                            <form action="{%url 'editarEstadoUsuario'%}" method="post" id="EstadoUsuarioForm">
                                {%csrf_token%}
                                <div class="form-check form-switch switch-Cambio-TipoServicio">
                                   <input class="form-check-input kljkldsfjh" type="checkbox" role="switch" id="lopsdyu" name="estado" onclick="CambiarEstadoUsuario('{{User.id_usuario}}')"  {% if User.estado == True%}checked{%endif%}>
                                 </div>                                  
                             </form>
                        </td>

                        <td id="edit{{User.username}}">
                            <a href="{%url 'UpdateUser' User.id_usuario%}">
                                <i class="mdi mdi-account-edit"></i>
                            </a>
                        </td>
                        {% endfor %}

                        <!-- Función encargada de listar y filtrar los objectos -->
                        <script>
                            function listar(field) {
                                field.forEach(field => {
                                    if (
                                        field.name.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.email.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.last_name.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.last_login.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.rol.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.username.toLowerCase().includes(search.value.toLowerCase()) ||
                                        field.municipio.toLowerCase().includes(search.value.toLowerCase())
                                    ) {
                                        td = document.getElementById("username" + field.username);
                                        td.innerHTML = field.username;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("name" + field.username);
                                        td.innerHTML = field.name;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("last_name" + field.username);
                                        td.innerHTML = field.last_name;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("telefono" + field.username);
                                        td.innerHTML = field.telefono;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("celular" + field.username);
                                        td.innerHTML = field.celular;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("email" + field.username);
                                        td.innerHTML = field.email;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("TipoDoc" + field.username);
                                        td.innerHTML = field.TipoDoc;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("NumDoc" + field.username);
                                        td.innerHTML = field.NumDoc;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("direccion" + field.username);
                                        td.innerHTML = field.direccion;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("cod_postal" + field.username);
                                        td.innerHTML = field.cod_postal;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("municipio" + field.username);
                                        td.innerHTML = field.municipio;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("rol" + field.username);
                                        td.innerHTML = field.rol;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("last_login" + field.username);
                                        td.innerHTML = field.last_login;
                                        td.style.display = "table-cell";
                                        td = document.getElementById("edit" + field.username);
                                        td.style.display = "table-cell";
                                        td = document.getElementById("estado" + field.username);
                                        td.style.display = "table-cell";
                                        errores = document.getElementById("errores");
                                        errores.innerHTML = "No Hay más registros";
                                    } else {
                                        td = document.getElementById("username" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("name" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("last_name" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("telefono" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("celular" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("email" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("TipoDoc" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("NumDoc" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("direccion" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("cod_postal" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("municipio" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("rol" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("last_login" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("edit" + field.username);
                                        td.style.display = "none";
                                        td = document.getElementById("estado" + field.username);
                                        td.style.display = "none";
                                        errores = document.getElementById("errores");
                                        errores.innerHTML = "No se encontraron registros con estás credenciales";
                                    }
                                });
                            }
                        </script>
                        <!-- Creacion de los objectos traidos del contexto -->
                        {% for User in Usuario%}
                        <script>
                            field[contador] = {
                                username: "{{User.username}}",
                                name: "{{User.nombres}}",
                                last_name: "{{User.apellidos}}",
                                telefono: "{{User.telefono}}",
                                celular: "{{User.celular}}",
                                email: "{{User.email}}",
                                TipoDoc: "{{User.tipo_documento}}",
                                NumDoc: "{{User.num_documento}}",
                                direccion: "{{User.direccion}}",
                                cod_postal: "{{User.cod_postal}}",
                                municipio: "{{User.municipio}}",
                                rol: "{{User.rol}}",
                                last_login: "{{User.last_login}}",
                            }
                            if (field) {
                                Object()
                            }

                            contador++
                        </script>
                    </tr>
                    {% endfor %}
                    <!-- Instancia encargada de mandar los objectos para ser listados -->
                    <script>
                        function Object() {
                            listar(field);
                        }
                        CantUsuarios = document.getElementById("NumUser");
                        CantUsuarios.innerHTML = contador
                    </script> {%else%}
                    <!-- Fin del listado de datos -->
                    <tr>
                        <td>
                            No hay usuarios Registrados
                        </td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>

            <p id="errores">
            </p>
        </div>
    </div>
</div>




<!--------------------------------------Fin Dashborad Usuarios-------------------------------------->

{% endblock Contenido %} {% block modal %} {% endblock modal %} {% block scripts %}
<script src="/static/Proyecto_Ekiria/js/jsTablesInformations.js"></script>
<script src="/static/ModuloUsuarios/js/mainAdministration.js"></script>
{% endblock scripts %}