* {
    margin:  0;
    padding: 0;
    text-decoration: none;
  }
.contPrincipal{
    width: 45%;
    height: 350px;
    margin-left:15%;
    margin-top: 10%;
    display: inline-flex;
    background: rgb(240, 240, 247);
    box-shadow: 0px 4px 60px #AF8DBB;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.imagenLogo{
    width: 70%;
    margin-left: 15%;
    margin-top: -20%;
}
.LetraBienvenida{
    font-size: 200%;
    margin-top: -10%;
    text-align: center;
    color: #000000;
}
/*aqui empieza los tres div d e la izquierda */

.contenedor{
    position: absolute;
    width: 15%;
    height: 90%;
    left: 71%;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   
 /*Roles, cambios de pagina, permisos */

.contRoles, .contCambios, .contPermisos{
    height: 25%;
    margin-top: 5%; 
    padding: 10%;
    text-align: center; 

    border-color:#000;
    border-radius: 30px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem rgb(240, 240, 247);
    background: #AF8DBB;
    color: #000000;
}
.contRoles:hover, .contCambios:hover, .contPermisos:hover{
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #AF8DBB;
    background-color: rgb(240, 240, 247);
    
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: steps(5, jump-both);
}
.Letracont{
    color: #000;
    margin-top: 50%;
    font-size: 150%;
 
    text-decoration: none;
}
.Letracont2{
    color: #000;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
}
/*tabla de roles*/
.Letracont:hover , .Letracont2:hover{
    color: #000;
}
.titulo{
    text-align: center;
    font-size:x-large;
}
.tabla{
    width: 60%;
    margin-left: 20%;
}
/*seccion de crear boton para cear un nuevo rol*/
.contNuevoRol{
    position:relative;
    width: 30%;
    right:0;
    float:right;
    display: inline-flex;
    align-items: center;
}
@media (max-width:700px){
    .contNuevoRol{
    position:relative;
    width: 100%;
    right:0;
    float:right;
    display: inline-flex;
    align-items: center;
}
}
.imgAgregar{
    width: 20%;
    height: 5%; 
    margin-left: 5%; 
    margin-top: -2%;
}
.nuevoRol{
    width: 100%;
    padding: 2%;
    background-color: white;
}
.nuevoRol:hover{
    background-color: gray;
}
/*modal de crear rol*/

#botones{
    justify-content: space-between;
}
#nombreRol,#nombreRolEdi{
    width: 100%;
}   

#CrearRol,#EditarRol{
    height: 80vh;
    width: 45ch;
    left: 55ch;
}
#boton{
    justify-content: center;
}

#habilitarPermisos{
    justify-content: center;
    align-content: center;
}

/* Cambios de pagina */
.recuadro{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 7%;
    margin-bottom: 5%;
    background: #AF8DBB;
}
.text{
    color: white;
}
.ContenedorMision, .contactenos{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.ContMision, .seleccionar2, .contfooter, .principalPermisos{
    height: 25%;
    margin-top: 5%; 
    padding: 5%;
    text-align: center; 

    border-color:#000;
    border-radius: 30px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem rgb(240, 240, 247);
    background: #AF8DBB;
    color: #000000;
}
.ContMision:hover, .contfooter:hover, .principalPermisos:hover{
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #AF8DBB;
    background-color: rgb(240, 240, 247);
    
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: steps(5, jump-both);
}
.tituloCambios{
    text-align: center;
}
/* permisos */
.principalPermisos{
    align-items: center;
    margin-left: 16%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.color{
    
    border-width: 1%;
    border-style: solid;
    border-color: black;
    background-color: #530677;
}
.dentropermi{
    background-color: white;
    margin: 5%;
    padding-bottom: 5%
}
.letraDes{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#asignar{
    margin: 3%;
    margin-left: 80%;
}