* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #fff;
}


/* ajuste del contenedor de datos con el menu lateral */

.grid {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: initial;
    background: linear-gradient( black, #800080, black);
    transition: 0.5s;
}


/*    Scrollbar menú lateral de usuario     */

.nav.activar::-webkit-scrollbar {
    width: 5px;
    background: #ff4d89;
}

.nav.activar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 1);
}


/*        Estilos del menú lateral    */

.nav {
    display: none;
    width: 200px;
    transition: 2s;
}

.nav.activar {
    display: block;
    transition: 2s;
}

.nav ul {
    top: 70px;
    position: absolute;
    left: 5px;
    width: 12%;
    padding-left: 0px;
    float: left;
    text-align: left;
}

.nav ul li {
    list-style: none;
    width: 100%;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    margin: 5px 0;
}

.nav ul li a {
    z-index: 10;
}


/* Contenedor de contenido*/

.content.activar {
    position: relative;
    background-color: #fff;
    width: 85%;
    height: 100%;
    top: 70px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 20px 0 0 0;
    animation-duration: 1s;
    transition: 1s;
}

.content {
    top: 0px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    padding: 10px;
    border-radius: 0 0 0 0;
    overflow: auto;
    float: right;
    animation-duration: 1s;
    transition: 1s;
}


/*    Scrollbar del contenedor    */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    border: 3px outset #800080;
    border-radius: 0px;
    box-shadow: inset 10px 10px 30px 0px #000000;
}

 ::-webkit-scrollbar-thumb:hover {
    border: 3px outset #ff4d89;
    border-radius: 0px;
    box-shadow: inset 10px 10px 30px 0px #000000;
}

 ::-webkit-scrollbar-track {
    background: #800080;
    border-radius: 0px;
    box-shadow: inset 10px 0px 0px 10px rgb(226, 146, 206);
}


/*--------------------------------------------*/

.Logo.activar {
    position: fixed;
    margin: 10px 40%;
    top: 0px;
    z-index: 10;
}

.Logo {
    position: fixed;
    top: 10px;
    left: 70px;
    z-index: 10;
    animation-duration: 2s;
    transition: 2s;
}

.menu.activar {
    position: sticky;
    height: 50px;
}

.menu {
    position: sticky;
    top: -10px;
    width: 100%;
    height: 65px;
    border-bottom: 2px solid black;
    background-color: #fff;
    z-index: 9;
    animation-duration: 2s;
    transition: 2s;
}

.content.activar #div {
    float: left;
    width: 100%;
    text-align: left;
}

.content #div {
    position: relative;
    top: 10px;
    float: left;
    width: 99.5%;
    text-align: left;
    overflow: auto;
    margin-left: 10px;
    animation-duration: 2s;
    transition: 2s;
}

.content ul {
    position: static;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
    list-style: none;
    float: right;
    z-index: 10;
    margin-right: 10px;
}

.content ul li {
    margin-top: 10px;
}

.content ul li a {
    text-decoration: none;
}

.content .barra {
    height: 40px;
    background-color: #fff;
}


/*     Estilos del abridor del menú lateral      */

.toggle {
    position: fixed;
    top: 10px;
    bottom: 0px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: #740257;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.toggle.activar {
    background: #ff4d89;
}

.toggle i {
    position: absolute;
    color: #fff;
    font-size: 25px;
    display: none;
    animation-duration: 2s;
    transition: 2s;
}

.toggle i.abrir {
    display: block;
}

.toggle.activar i.abrir {
    display: none;
}

.toggle.activar i.cerrar {
    display: block;
}