<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/styleLogin.css">
</head>

<body>
    <div class="fondo"></div>
    <div class="contenido">
        <div class="contLogo">
            <img class="logo" src="/static/ModuloUsuarios/img/Logo.png">
        </div>
    </div>
</body>

</html>