<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/static/ModuloUsuarios/css/InformationLogin.css">
</head>

<body>
    <div class="fondo">
        <div class="contenedor">
            <div class="contLogo">
                <div class="logo">
                    <img src="/static/ModuloUsuarios/img/logo_rojo.png">
                </div>
            </div>
            <form>
                <h1>Inicio de sesion</h1>
            </form>
        </div>
    </div>
</body>

</html>