
/*size img*/
.table td img{
    width: 50%;
    height: 30px;
    padding: 0;
    margin: 0;
}

/*Estilos de icono borrar*/
#b{
    width: 60%;
    height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

#b:hover{
    background-color:rgba(247, 8, 8, 0.205);

}

/*Estilos de icono editar*/
#e{
    
    border-radius: 6px;
}

#e:hover{
    background-color:rgba(231, 247, 8, 0.253);

}
/*titulo proveedor*/
.titulo p{
    font-size: 50px;
    font-family: 'Vast Shadow', cursive;
    color:rgb(67, 11, 126);
    transition: all .10s;
    animation: animar 2s infinite;
    
}

@keyframes animar{
    0%{
        color: rgba(75, 28, 126, 0.562);
        transform: translateX(0);
        }  
        25%{
            color: rgba(76, 14, 143, 0.664);
            transform: translateY(0);
            margin-left: 7px;
            text-shadow: 0 6px 6px rgba(118, 8, 190, 0.534);
            }  
            100%{
                color: rgba(46, 12, 90, 0.637);
                transform: translateX(0);
                margin-right: 10px;
            }
    
}


/*contenerdor*/
#cont1{
    width: 65%;
    height: 120px;
}


