{% extends "Menu_Usuario.html" %} 

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Personalizado</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>{% endblock head %}

{% block Contenido %}
<h1>Agrega un servicio personalizado</h1>
<div>
    <div class="row">
        <div class="col">
            <select class="form-select form-select-lg " >
                <option selected>Tipo de Servicio</option>
                <option value="1">Manicure</option>
                <option value="2">Pedicure</option>
              </select>
        </div>
        <div class="col container">
            <i class="fas fa-file-image" style="width: 50px; font-size: 60px;"></i>
            <input type="file" class="fileSerPersonalizado">
        </div>
    </div>
    <label class=" tituloServicioPersonalizadoComentario">Descríbanos lo que quiere</label>
    <div class="form-floating container descripcion" style="width:90vw;">
        
        <textarea class="form-control personalizarServicio"></textarea>
        <label>Comentario</label>
      </div>
      <a class="btn btn-block btn-success  AgregarServPersonCarrito"  href="{%url 'Ventas:carrito'%} ">  Agregar al Carrito</a>
</div>
{% endblock Contenido %}