
<!-- calendario -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
 
            <div class="row">
                <div class="col-lg-8">
 
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 nuevoEvento">
                                            <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect waves-light">
                                                <i class="fa fa-plus"></i> Nuevo
                                            </a>
                                            <div id="external-events" class="m-t-20">
                                                <br>
                                                <p>Arrastra y suelta tu evento o haz clic en el calendario</p>
                                                <div class="external-event bg-primary" data-class="bg-primary">
                                                    <i class="mdi mdi-checkbox-blank-circle mr-2 vertical-middle"></i>New Theme Release
                                                </div>
                                                <div class="external-event bg-pink" data-class="bg-pink">
                                                    <i class="mdi mdi-checkbox-blank-circle mr-2 vertical-middle"></i>My Event
                                                </div>
                                                <div class="external-event bg-warning" data-class="bg-warning">
                                                    <i class="mdi mdi-checkbox-blank-circle mr-2 vertical-middle"></i>Meet manager
                                                </div>
                                                <div class="external-event bg-purple" data-class="bg-purple">
                                                    <i class="mdi mdi-checkbox-blank-circle mr-2 vertical-middle"></i>Create New theme
                                                </div>
                                            </div>
 
                                            <!-- checkbox -->
                                            <div class="checkbox m-t-40">
                                                <input id="drop-remove" type="checkbox">
                                                <label for="drop-remove">
                                                        Borrar despues de soltar
                                                </label>
                                            </div>
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col-->
                        <div class="col-lg-9">
                            <div class="card-box">
                                <div id="calendar"></div>
                            </div>
                        </div> <!-- end col -->
                    </div>  <!-- end row -->
 
                   
                </div>
                <!-- end col-12 -->
            </div> <!-- end row -->
 
        </div> <!-- container -->
 
    </div> <!-- content -->
 
 </div> 

 {% include "ComplementosVentas.html" %}