{% extends "Menu_Usuario.html" %} 

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Servicio</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>{% endblock head %}

{% block Contenido %}
<h1>Editar Servicio</h1>
<div class="container">
    <form id="EditarServicioForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <Label><strong>Nombre:   </strong></Label>
                {{form.nombre}}
        </div>
        <div class="col" >
            <Label><strong>Tipo de Servicio:  </strong></Label>
            {{form.tipo_servicio_id}}
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <Label><strong>Precio: </strong></Label>
            {{form.precio}}
        </div>
        <div class="col" style="display: flex;">
            <Label><strong>Estado:  </strong></Label>
            <div class="form-check form-switch">
                {{form.estado}}
            </div>
        </div>
    </div>
    <div >
        <i class="fas fa-file-image" style="width: 50px; font-size: 30px; margin-top: 20px;"></i>
        {{form.img_servicio}}
    </div>
    <div class="col">
        <Label><strong>Slug: </strong></Label>
            {{form.slug}}
    </div>
    <div style="margin-top: 30px;">
        <Label><strong>Descripcion: </strong></Label>
        <div class="form-floating  descripcion">
            {{form.descripcion}}
    
            <label style="font-size: 20px;">Descripcion</label>
        </div>
        <br><br>
        <button type="submit" class="btn btn-block btn-success" onclick="ConfirmacionEditarServicio()">Agregar Servicio</button>
    </form>
</div>

{% block scripts %}
<script src="/static/Ventas/js/Ventas.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock scripts %}

{% endblock Contenido %}