{% extends "Menu_Usuario.html" %} 
{%load static%}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion Ventas</title>
    <link rel="stylesheet" href="/static/Ventas/css/Ventas.css">
    <link rel="icon" href="/static/Proyecto_Ekiria/Img/Logo Ekiria.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'Ventas/css/Ventas-admin.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
    <link rel="stylesheet" href="{%static 'Data_Table/jquery.dataTables.min.css'%}">
</head>{% endblock head %}

{% block Contenido %}
<h1>Administracion Ventas</h1>
<div class="container">

   <div class="row">
      <div class="col-10">
        <h2>Catalogo</h2>
      </div>
      <div class="col-2">
        <button class="btn" onclick="abrir_modal_AgregarServicioCatalogo('{% url 'Ventas:agregarServicioCatalogo' %}')"><span class="float" style="font-size: 48px; margin-right: -80%;"><i class="fa-solid fa-circle-plus"></i></span></button>
      </div>
    </div>
   
    <table class="table table-striped">
        <thead>
           <tr>
              <th scope="col">#</th>
              <th scope="col">Foto</th>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col">Acciones</th>
           </tr>
        </thead>
        <tbody>
           
           {% if servicios %}
              {% for servicio in  servicios%}
              <tr>
               <th scope="row">{{ forloop.counter }}</th>
               <td><img src="/media/{{servicio.servicio_id.img_servicio}}" class="" width="150" height="100"></td>
               <td><p>{{servicio.servicio_id.nombre}}</p></td>
               <td>${{servicio.servicio_id.precio}}</td>
               <td>
                 <div class="form-check form-switch">
                     <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if servicio.estado %}checked{% endif %}>
                     <label class="form-check-label" for="flexSwitchCheckChecked">{% if servicio.estado %}Deshabilitar {%else%}Habilitar{% endif %} para el catalogo</label>
                   </div>
               </td>
            </tr>
              {% endfor %}
                 
              {% else %}
              <h1>No se encontraron servicios que se encuentren disponibles, <strong>Para habilitar servicios primero crealos, luego vuelve</strong></h1>
           {% endif %}
        </tbody>
     </table>
     
     {% if servicios %}
        {% include 'paginacion.html' %}
     {% endif %}
        
     <div class="row">
    <div class="col-10">
      <h2>Tipos de Servicio</h2>
    </div>
    <div class="col-2">
      <button class="btn" onclick="abrir_modal_crear('{% url 'Ventas:agregarTipoServicio' %}')"><span class="float" style="font-size: 48px; margin-right: -80%;"><i class="fa-solid fa-circle-plus"></i></span></button>
    </div>
  </div>
     <div class="Admin Events">
      <div class="Information">
         {% if Tipo_Servicios%}
            {% for tipo_servicio in  Tipo_Servicios %}
               
                  <div class="cardbox">
                     <div class="Card">
                           <button class="btn" onclick="abrir_modal_editar('{% url 'Ventas:editarTipoServicio' tipo_servicio.id_tipo_servicio %}')">
                              <div class="container-text-services">
                                 <div class="cardName"><p>{{tipo_servicio.nombre}}</p></div>
                              </div>
                              
                           </button>
                     <div class="line-vertical">
                     </div>
                        <div class="iconA">
                           <button class="btn" style="transform: scale(1.5);" onclick="abrir_modal_eliminar('{% url 'Ventas:eliminarTipoServicio' tipo_servicio.id_tipo_servicio %}')">
                              <i class="fa-solid fa-trash"></i> </button>
                              <form id="EstadoTipoServicioForm2" method="post" action="{% url 'Ventas:editarEstadoTipoServicio' %}" >
                                 {%csrf_token%}
                                 <div class="form-check form-switch switch-Cambio-TipoServicio">
                                    <input class="form-check-input kljkldsfjh" type="checkbox" role="switch"  name="esatdo" onclick="CambiarEstadoTipoServicio('{{tipo_servicio.id_tipo_servicio}}')"  {% if tipo_servicio.estado == True%}checked{%endif%}>
                                  </div>                                  
                              </form>
                        </div>
                     </div>
               </div>
               
             {% endfor %} 
             
            {% else %}
               No hay tipos de servicios registrados
         {% endif %}
      </div>
  </div>
  <div  data-backdrop="static" class="modal fade" id="EditarTipoServicio" role="dialog" >
   
 </div>
 <div class="modal fade" id="AgregarTipoServicio" role="dialog">
   
</div>
<div class="modal fade" id="EliminarTipoServicio"  role="dialog">

</div>
<div class="modal fade bd-example-modal-lg" id="AgregarServicioCatalogo" role="dialog">

</div>
</div>
{% endblock Contenido %}

{% block modals %}
 
{% endblock modals %}


{% block scripts %}
<script src="{%static 'Data_Table/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'Ventas/js/Admin.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    
</script>
{% endblock scripts %}
   