{% load crispy_forms_tags %}
<div class="modal fade" id="CrearRol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Rol</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method='post' id=CrearRoles action="{%url 'CreateRol'%}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
           <div class="modal-footer" id="botones">
          <button type="submit" class="btn btn-warning" >Confirmar</button>
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="cancelar">Cancelar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>